.book-preview {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: rem(10px);
    background-color: white;


    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desc {
        color: #666666;
        width: 100%;
        height: 50px;
        font-size: 8px;
        overflow-y: scroll;


    }


     .desc::-webkit-scrollbar {
        width: 0.6em;
        border-radius: 15px;
    }
    
    .desc::-webkit-scrollbar-thumb {
        background-color: #666;
        border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
        border-radius: 15px;
    }
    
    .desc::-webkit-scrollbar-track {
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgba(19, 19, 19, 0.3);
        box-shadow: inset 0 0 6px rgba(19, 19, 19, 0.3);
    }

    hr {
        background-color: $color-primary;
        height: 1px;
        width: 100%;
        border: none;
        margin: 0;

    }

    .rating-container {
        display: flex;
        align-items: center;
        gap: 2.5px;

        .stars-container {
            font-size: 1px;
        }
    }
}