.wishlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sort-by-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .sort-by-btn {
            display: flex;
            align-items: center;
            height: 25px;
            width: auto;
            background-color: white;
            padding: 10px;

            &.active {
                background-color: darkslategray;
                color: white;
            }
        }
    }

    .books-container {

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        min-width: 100px;

        .book-preview {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            background-color: white;
            padding: 7.5px;
            width: fit-content;
            border-left: 7.5px solid orange;

            :nth-child(2) {
                color: $color-primary;
            }
        }
    }
}