.home{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .content-container{
        display: flex;
        gap: 25px;

    }
}